<h1><%= @question.title %></h1>
<p>Asked by <%= @user.name %> (<%= @user.role %>) 
  <% if @user.id == current_user.id %>
  <%= link_to "Edit", edit_question_path(@question) %>
  <% end %>
</p>
<p><%= @question.description %></p>

<p><%= image_tag(@question.image_url, width: 300) if @question.image.present? %></p>
