<div id="static">
  <br><h3><strong><%= @question.title %></strong> <%= link_to "Edit", edit_question_path(@question) if @user.id == current_user.id %></h3>
  <hr>
  <p><strong>Desc: </strong><%= @question.description %></p>

  <p><%= image_tag(@question.image_url, width: 300) if @question.image.present? %></p>

  <div class="col-md-4 offset-md-8 align-self-end">
    <i>asked on <%= @question.created_at.strftime("%B %d,%Y at %k:%M") %><br>
    by <%= @user.name %> (<%= @user.role %>) </i>
  </div>
</div>
  
<div class="col-md-10">
  <hr>
  <%= render 'comments/question_comment' %>
</div>
<hr>

<h3><strong><i><%= @question.answer.count %> Answers</i></strong></h3><hr>
<div id="content">
  <% @question.answer.each do |answer| %>
    <% if answer.approve %>
      <% @user = User.find(answer.user_id) %>
      <%= answer.answer %> --<i>answered on <%= answer.created_at.strftime("%B %d,%Y at %k:%M") %> by <strong><%= @user.name %></strong> </i>

      <div class="col-md-10">
        <hr>
        <%= render partial:'comments/answer_comment', :locals => { :answer => answer } %>
      </div>
      <hr>
    <% end %>
  <% end %>
</div>
<hr>
<div id="static">
  <% if current_user.role == "expert" %>
    <h2>Your Answer:</h2>
    <%= render 'answers/form' %>
  <% end %>
</div>
