<ol>
  <% @question.comment.each do |comment| %>
    <% if comment.approve %>
      <% @user = User.find(comment.user_id) %> 
        <li><%= comment.comment %> --<i>on <%= comment.created_at.strftime("%B %d,%Y at %k:%M") %> by <strong><%= @user.name %></strong> </i></li>
    <% end %>
  <% end %>
</ol>
<hr>

  <% if current_user.role == "expert" %>
  <div id="ask_of_question" onclick="show_question_comment()"><b>Want to add Comment?</b></div>
  <div id="question_comment">
    <p><h4><strong>Your Comment:</strong></h4>
      <%= form_with model: [ @question, @question.comment.build ] do |form| %>
          <%= form.text_area :comment %><br>
          <%= form.submit %>
        </p>
      <% end %>
  </div>
  <% end %>

<script>
  function show_question_comment(){
    document.getElementById("question_comment").style.display = "block";
    document.getElementById("ask_of_question").style.display = "none";
  }

  function show(id){
    document.getElementById(id).style.display = "block";
  }
</script>