<ol>
  <% @question.comment.each do |comment| %>
    <% if comment.approve %>
      <% @user = User.find(comment.user_id) %> 
        <li><%= comment.comment %> --<i>on <%= comment.created_at.strftime("%B %d,%Y at %k:%M") %> by <strong><%= @user.name %></strong> </i></li>
    <% end %>
  <% end %>
</ol>
<hr>

  <% if current_user.role == "expert" %>
  <p><h4><strong>Want to add Comment:</strong></h4>
    <%= form_with model: [ @question, @question.comment.build ] do |form| %>
        <%= form.text_area :comment %><br>
        <%= form.submit %>
      </p>
    <% end %>
  <% end %>